dotenv .env.local
export HELM_CONFIG_HOME="${PWD}/config/helm"
export HELM_DATA_HOME="${PWD}/data/helm"
export OCI_CONFIG_FILE="${PWD}/.oci/config"
export OCI_USER_KEY_FILE="${PWD}/.oci/pem"

export VIRTUAL_ENV="${PWD}/.venv"
PATH_add "${VIRTUAL_ENV}/bin"
