dotenv .env.local
export HELM_CONFIG_HOME="${PWD}/config/helm"
export OCI_CONFIG_FILE="${PWD}/.oci/config"
export OCI_USER_KEY_FILE="${PWD}/.oci/pem"
mkdir -p "${PWD}/.kube"
export KUBECONFIG="${PWD}/.kube/config"

export VIRTUAL_ENV="${PWD}/.venv"
PATH_add "${VIRTUAL_ENV}/bin"
