---
apiVersion: external-secrets.io/v1
kind: ClusterSecretStore
metadata:
  name: oci
spec:
  provider:
    oracle:
      vault: ${oci_kms_vault_id}
      region: uk-london-1
      principalType: InstancePrincipal
