---
apiVersion: v1
kind: Namespace
metadata:
  name: tailscale
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  namespace: tailscale
  name: tailscale-operator
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: oci
  target:
    name: operator-oauth
  dataFrom:
    - extract:
        key: tailscale_operator
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  namespace: kube-system
  name: tailscale-operator
spec:
  repo: https://pkgs.tailscale.com/helmcharts
  chart: tailscale-operator
  # version: "1.90.9"
  targetNamespace: tailscale
  valuesContent: |
    apiServerProxyConfig:
      mode: "true"
