---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
spec:
  replicas: 2
  template:
    spec:
      initContainers:
        - name: migrate
          image: miniflux
          envFrom:
            - configMapRef:
                name: env
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: pg-app
                  key: fqdn-uri
          command: ["miniflux", "-migrate"]
      containers:
        - name: app
          image: miniflux
          envFrom:
            - configMapRef:
                name: env
                optional: false
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: pg-app
                  key: fqdn-uri
          ports:
            - containerPort: 8080
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8080
 
