- hosts: fedora
  collections:
    - community.postgresql
  tasks:
    - register: upgrade
      dnf:
        name: '*'
        state: latest
    - package:
        name:
          - dnf-automatic
        state: present
    - copy:
        dest: /etc/dnf/automatic.conf
        content: |-
          [commands]
          apply_updates=True
          reboot=when-needed
    - systemd_service:
        name: dnf-automatic.timer
        enabled: true
    - package:
        name: 
          - postgresql-server
          - python3-psycopg2
          - acl
        state: present
    - ignore_errors: true
      command:
        argv:
          - postgresql-setup
          - --initdb
    - systemd_service:
        name: postgresql.service
        state: started
        enabled: true
    - become: true
      become_user: postgres
      postgresql_user:
        name: miniflux
    - become: true
      become_user: postgres
      postgresql_db:
        name: miniflux
        owner: miniflux
    - become: true
      become_user: postgres
      register: pg_hba
      postgresql_pg_hba:
        dest: /var/lib/pgsql/data/pg_hba.conf
        backup: true
        overwrite: true
        rules:
          - contype: local
            databases: all
            users: postgres
            method: peer
          - contype: host
            databases: sameuser
            users: miniflux
            address: '10.88.0.0/16'
            method: trust
    - become: true
      become_user: postgres
      register: postgresql_conf
      postgresql_alter_system:
        param: listen_addresses
        value: '*'
    - when: pg_hba.changed
      systemd_service:
        name: postgresql.service
        state: reloaded
    - when: postgresql_conf.changed
      systemd_service:
        name: postgresql.service
        state: restarted
    - systemd_service:
        name: podman-auto-update.timer
        enabled: true
    - lineinfile:
        path: /etc/subuid
        regexp: '^containers:'
        line: 'containers:2147483647:2147483648'
    - lineinfile:
        path: /etc/subgid
        regexp: '^containers:'
        line: 'containers:2147483647:2147483648'
    - package:
        name: firewalld
        state: present
    - systemd_service:
        name: firewalld.service
        state: started
        enabled: true
    - ansible.posix.firewalld:
        permanent: true
        state: enabled
        immediate: true
        interface: tailscale0
        zone: internal
    - when: upgrade.changed
      reboot:
