- name: Set up OCI Object Storage bucket for OpenTofu state
  hosts: localhost
  collections:
    - oracle.oci
  vars:
    oci_config: "{{ lookup('ansible.builtin.env', 'OCI_CONFIG_FILE') }}"
    tenancy_ocid: "{{ lookup('ansible.builtin.ini', 'tenancy', file=oci_config, section='DEFAULT') }}"
    user_ocid: "{{ lookup('ansible.builtin.ini', 'user', file=oci_config, section='DEFAULT') }}"
  tasks:
    - name: Fetch namespace
      register: ns
      oci_object_storage_namespace_facts:
    - name: Create tfstate bucket
      oci_object_storage_bucket:
        compartment_id: '{{ tenancy_ocid }}'
        namespace_name: '{{ ns.namespace }}'
        name: tfstate
        versioning: Enabled
        public_access_type: NoPublicAccess
        auto_tiering: InfrequentAccess
    - name: Create S3 keys
      oci_identity_customer_secret_key:
        display_name: tfstate
        user_id: "{{ user_ocid }}"

