---
- import_playbook: server_k3s.yml
- import_playbook: worker_k3s.yml
- hosts: server worker
  serial:
    - 1
    - "100%"
  tasks:
    - register: upgrade
      community.general.apk:
        upgrade: true
    - reboot:
      when: upgrade.changed
      
